# Project Title
Recognising hate speech on twitter (vs offensive language)

### Data description
The dataset contains 24,783 tweets by the twitter users. -- To be fill --

***Data Dictionary***

-- To be fill --

## Part 1: Preparing Dataset

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

### Importing the Dataset

In [4]:
df = pd.read_csv('Data\labeled_data.csv')
print(df.shape)
df.head()

(24783, 7)

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [5]:
# Dataframe info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24783 entries, 0 to 24782
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          24783 non-null  int64
 1   count               24783 non-null  int64
 2   hate_speech         24783 non-null  int64
 3   offensive_language  24783 non-null  int64
 4   neither             24783 non-null  int64
 5   class               24783 non-null  int64
 6   tweet               24783 non-null  object
dtypes: int64(6), object(1)
memory usage: 1.3+ MB

In [6]:
# Descriptive statistics
df.describe()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class
count,24783.000000,24783.000000,24783.000000,24783.000000,24783.000000,24783.000000
mean,12681.192027,3.243473,0.280515,2.413711,0.549247,1.110277
std,7299.553863,0.883060,0.631851,1.399459,1.113299,0.462089
min,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000
25%,6372.500000,3.000000,0.000000,2.000000,0.000000,1.000000
50%,12703.000000,3.000000,0.000000,3.000000,0.000000,1.000000
75%,18995.500000,3.000000,0.000000,3.000000,0.000000,1.000000
max,25296.000000,9.000000,7.000000,9.000000,9.000000,2.000000

In [7]:
# Check for missing/null values
df.isnull().sum()

Unnamed: 0            0
count                 0
hate_speech           0
offensive_language    0
neither               0
class                 0
tweet                 0
dtype: int64

In [8]:
# Check for duplicates
df.duplicated().sum()

0

## Part 2: Data Preprocessing

In [9]:
#Convert the tweet to lowercase
df['tweet'] = df['tweet'].apply(lambda x:x.lower())
df['tweet']

0        !!! rt @mayasolovely: as a woman you shouldn't...
1        !!!!! rt @mleew17: boy dats cold...tyga dwn ba...
2        !!!!!!! rt @urkindofbrand dawg!!!! rt @80sbaby...
3        !!!!!!!!! rt @c_g_anderson: @viva_based she lo...
4        !!!!!!!!!!!!! rt @shenikaroberts: the shit you...
                               ...
24778    you's a muthaf***in lie &#8220;@lifeasking: @2...
24779    you've gone and broke the wrong heart baby, an...
24780    young buck wanna eat!!.. dat nigguh like i ain...
24781                youu got wild bitches tellin you lies
24782    ~~ruffled | ntac eileen dahlia - beautiful col...
Name: tweet, Length: 24783, dtype: object

In [10]:
#remove "rt" from the tweet
df['tweet'] = df['tweet'].replace(r'rt ', '', regex=True)
df['tweet']

0        !!! @mayasolovely: as a woman you shouldn't co...
1        !!!!! @mleew17: boy dats cold...tyga dwn bad f...
2        !!!!!!! @urkindofbrand dawg!!!! @80sbaby4life:...
3        !!!!!!!!! @c_g_anderson: @viva_based she look ...
4        !!!!!!!!!!!!! @shenikaroberts: the shit you he...
                               ...
24778    you's a muthaf***in lie &#8220;@lifeasking: @2...
24779    you've gone and broke the wrong heababy, and d...
24780    young buck wanna eat!!.. dat nigguh like i ain...
24781                youu got wild bitches tellin you lies
24782    ~~ruffled | ntac eileen dahlia - beautiful col...
Name: tweet, Length: 24783, dtype: object

In [11]:
#remove username from the tweet
df['tweet'] = df['tweet'].replace(r'@\S+', '', regex=True)
df['tweet']

0        !!!  as a woman you shouldn't complain about c...
1        !!!!!  boy dats cold...tyga dwn bad for cuffin...
2        !!!!!!!  dawg!!!!  you ever fuck a bitch and s...
3                       !!!!!!!!!   she look like a tranny
4        !!!!!!!!!!!!!  the shit you hear about me migh...
                               ...
24778    you's a muthaf***in lie &#8220;   right! his t...
24779    you've gone and broke the wrong heababy, and d...
24780    young buck wanna eat!!.. dat nigguh like i ain...
24781                youu got wild bitches tellin you lies
24782    ~~ruffled | ntac eileen dahlia - beautiful col...
Name: tweet, Length: 24783, dtype: object

In [12]:
#Remove all special characters except for astrisk to preserve the meaning of the tweet

df['tweet'] = df['tweet'].replace(r'[^a-z0-9*\s]','', regex=True)
df['tweet']

0          as a woman you shouldnt complain about clean...
1          boy dats coldtyga dwn bad for cuffin dat hoe...
2          dawg  you ever fuck a bitch and she stato cr...
3                                   she look like a tranny
4          the shit you hear about me might be true or ...
                               ...
24778    yous a muthaf***in lie 8220   right his tl is ...
24779    youve gone and broke the wrong heababy and dro...
24780    young buck wanna eat dat nigguh like i aint fu...
24781                youu got wild bitches tellin you lies
24782    ruffled  ntac eileen dahlia  beautiful color c...
Name: tweet, Length: 24783, dtype: object

## Part 3: Data Splitting

## Part 4: Training the Model

## Part 5: Evaluate the Model